root = true

[*]
insert_final_newline = true
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.go]
indent_style = tab

[{*.js,*.ts}]
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_import_sort_members = true
