doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Lukas Bischof&apos;s Personal Website
    script(type='application/javascript').
        (function (f, a, t, h, o, m) {
            a[h] = a[h] || function () {
                (a[h].q = a[h].q || []).push(arguments);
            };
            o = f.createElement('script'),
                m = f.getElementsByTagName('script')[0];
            o.async = 1;
            o.src = t;
            o.id = 'fathom-script';
            m.parentNode.insertBefore(o, m);
        })(document, window, '//fathom.luk4s.dev/tracker.js', 'fathom');
        fathom('set', 'siteId', 'JBXMH');
        fathom('trackPageview');
    script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js')
    script(src='https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.waves.min.js')
    link(rel='stylesheet' href='/public/build/application.css')
body
    | {{embed}}
